{component(hero)}
  position: relative
  padding: 10em 0
  width: 100%
  background: #333
  text-align: center
  font-family: Arial, sans-serif

  {part(headline)}
    font-size: 4em
    color: #fff

  {part(subtext)}
    font-size 1.75em
    color: #dedede
